html {
    direction: ltr;
    text-align: left;
}
.header-area .top-header-area .header-content-right {
    float: left;
}
.header-area .top-header-area .header-content-right li .option-item {
    margin-right: 5px;
}
.header-area .top-header-area .header-content-left li{
    padding-right: 0;
    padding-left: 20px;
}
.header-area .top-header-area .header-content-left li a i {
    margin-right: 0;
    margin-left: 5px;
}
.navbar-brand {
    margin-right: 0;
}
.nav-area .navbar-area .main-nav nav .navbar-nav .nav-item .dropdown-menu li a{
    text-align: right;
}
.nav-area .navbar-area .main-nav nav .navbar-nav .nav-item .dropdown-menu{
    right: 0;
    left: 0;
}
.nav-area .navbar-area .main-nav nav .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
    right: 100%;
    left: 0;
}
.nav-area .navbar-area .main-nav nav .navbar-nav .nav-item .dropdown-menu li a i {
    float: left;
}
.main-banner-area .banner-img-wrap .banner-img{
    right: unset;
    left: 0;
}
.main-banner-area .banner-img-wrap .banner-shape {
    right: unset;
    left: -75px;
}
.main-banner-area .banner-text {
    margin-left: 0;
    margin-right: auto;
    margin-top: -70px;
}
.default-btn.active {
    margin-left: 0; 
    margin-right: 30px; 
}
.first-facility-area {
    left: unset;
    right: 0;
}
.first-facility-item i {
    left: unset;
    right: 0;
}
.first-facility-item {
    position: relative;
    padding-left: 0;
    padding-right: 90px;
}
.first-facility-area .shape {
    left: 0;
    right: unset;
}
.about-area .about-img .shape-1{
    left: unset;
    right: -30px;
}
.about-area .about-img .shape-2 {
    left: unset;
    right: -250px;
}
.about-area .about-content{
    margin-left: 0;
    margin-right: 0;

}
.about-area .about-content ul li{
    padding-left: 0;
    padding-right: 40px;
}
.about-area .about-content ul li i{
    left: unset;
    right: 0;
}
.single-services {
    border-radius: 10px 10px 10px 100px;
}
.single-services::after {
    border-radius: 10px 10px 10px 100px;
}
.single-doctor img {
    border-radius: 0 100% 100% 100%;
        
}
.single-work .work-title i{
    margin-right: 0;
    margin-left: 20px;
}
.appointment-here-form .form-group i {
    left: unset;
    right: 20px;
}
.appointment-here-form .nice-select::after {
    right: unset;
    left: 12px;
}
.appointment-here-form .nice-select span {
    text-align: right;
}
.appointment-here-form .nice-select{
    padding-right: 50px;
    padding-left: 0;
}
.appointment-here-form .shape{
    left: -45px;
    right: unset;
}
.emergency-area .col-lg-6 {
    padding-left: 0 !important;
}
.emergency-area .col-lg-6.pr-0 {
    padding-right: 15px !important;
}
.emergency-content {
    margin-left: 0;
    margin-right: auto;
}
.emergency-content ul li {
    padding-left: 0;
    padding-right: 65px;
}
.emergency-content ul li i {
    left: unset;
    right: 0;
}
.emergency-content ul .active {
    margin-left: 30px;
    margin-right: 0;
}
.single-client img {
    right: 30px;
    left: unset;
}
.single-blog span {
    left: unset;
    right: 0;
}
.subscribe-area .newsletter-form .default-btn {
    left: 0;
    right: unset;
}
.single-widget.contact ul li a i {
    right: 0;
    left: unset;
}
.single-widget.contact ul li {
    padding-right: 30px;
    padding-left: 0;
}
.single-widget.contact ul .pl-0 {
    padding-left: 30px !important;
    padding-right: 0 !important;
}
.single-widget.contact ul li i {
    right: 0;
    left: unset;
}
.go-top {
    left: 20px;
    right: auto;
}
.main-banner-area-two .banner-img-wrap .banner-img {
    left: -15px; 
    right: unset;
}
.main-banner-area-two .banner-text {
    margin-left: 0;
    margin-right: auto;
}
.about-area.two .about-img .shape-1 {
    left: unset;
    right: -42px;
}
.single-symptoms h3 {
    padding-left: 0;
    padding-right: 30px;
}
.single-symptoms h3 i{
    left: unset;
    right: 0;
}
/* .prevention-area .prevention-wrap {
    margin-left: 0;
    margin-right: auto;
}
.single-prevention{
    padding-left: 0;
    padding-right: 100px;
}
.single-prevention i {
    right: 0;
    left: unset;
} */
.faq-accordion .accordion .accordion-title {
    padding: 20px 25px 17px 60px;
}
.faq-accordion .accordion .accordion-title i {
    left: 25px;
    right: unset;
}
.about-area-three .about-img::before {
    left: 0;
    right: -15px;
}
.about-area-three .about-img .shape-3{
    left: -50px;
    right: unset;
}
.how-its-work-content .content-wrap {
    padding-left: 0;
    padding-right: 50px;
}
.how-its-work-content .content-wrap::before {
    left: unset;
    right: 0;
}
.how-its-work-content .content-wrap::after {
    left: unset;
    right: 5px;
}
.assessment-center-content ul li h3 {
    padding-right: 25px;
    padding-left: 0;
}
.assessment-center-content ul li h3::before{
    left: unset;
    right: 0;
}
.assessment-center-content ul li p {
    padding-left: 0;
    padding-right: 20px;
    margin-left: 0;
    margin-right: 20px;
}
.assessment-center-content ul li p::before {
    left: unset;
    right: 0;
}
.emergency-contents ul li {
    padding-left: 0;
    padding-right: 25px;
}
.emergency-contents ul li::before {
    right: 0;
    left: unset;
}
.main-banner-area-four .banner-img-wrap .banner-img{
    left: -25px;
    right: unset;
}
.main-banner-area-four .banner-text{
    margin-left: unset;
    margin-right: auto;
}
.main-banner-area-four .shape{
    right: 0;
    left: unset;
}
.about-area.four .container-fluid .col-lg-6.pl-0 {
    padding-right: 0 !important;
    padding-left: 15px !important;
}
.about-area.mission .container-fluid .col-lg-6.pr-0 {
    padding-left: 0 !important;
    padding-right: 15px !important;
}
.about-area.mission .about-content {
    margin-right: auto;
    margin-left: 0 !important;
}
.ours-doctors-area .doctors-content {
    margin-left: 0;
    margin-right: auto;

}
.ours-doctors-area .doctors-content ul li{
    margin-left: 0;
    padding-left: 0;
    padding-right: 40px;
}
.ours-doctors-area .doctors-content ul li i {
    left: unset;
    right: 0;
}
.ours-doctors-area .doctors-content{
    max-width: 540px;
}
.main-banner-area-five .col-lg-5.pr-0 {
    padding-right: 15px !important;
    padding-left: 0;
}
.main-banner-area-five .banner-img-wrap .banner-img {
    right: unset;
    left: 0;
}
.main-banner-area-five .banner-text {
    margin-left: unset;
    margin-right: auto;
}
.search-area .top-search-from .searchs-wraps .search-btn {
    right: unset;
    left: 0;
}
.nice-select .option {
    text-align: right;
}
.top-search-from .nice-select {
    text-align: right !important;
    padding-left: 30px;
    padding-right: 18px;
}
.top-search-from .nice-select:after {
    right: unset;
    left: 12px;
}
.main-banner-six .col-lg-6.pr-0 {
    padding-right: 15px !important;
    padding-left: 0 !important;
}
.main-banner-six .main-banner-content .content {
    margin-left: 0;
    margin-right: auto;
    max-width: 545px;
}
.main-banner-six .shape-2 {
    left: unset;
    right: 0;
    top: 25%;
}
.single-events .event-content ul .right {
    float: left;
}
.about-area.abouts-six .col-lg-6.pr-0{
    padding-right: 15px !important;
    padding-left: 0 !important;
}
.single-events .event-content .usd-bar::before {
    left: 0;
    right: -8px;
}
.single-events .event-img span {
    left: unset;
    right: 0;
}
.user-area-all-style .contact-form-action .forget {
    float: left;
}
.user-area-all-style .contact-form-action .now-register {
    float: left;
}
.coming-soon-area .coming-soon-content .newsletter-form button {
    left: 0;
    right: unset;
}
.coming-soon-area .coming-soon-content .newsletter-form .input-newsletter{
    padding-left: 0;
    padding-right: 15px;
}
.services-details-area .scrives-item-3 .share {
    float: left;
}

.services-details-area .scrives-item-3 .social-link li{
    margin-left: 5px;
    margin-right: 0;
}
.doctors-detailss .right-title ul li {
    padding-left: 0;
    padding-right: 20px;
}
.doctors-detailss .right-title ul li i {
    left: unset;
    right: 0;
}
.blog-details-area .widget-area .widget_search form button {
    right: unset;
    left: 0;
}
.blog-details-area .widget-area .widget-peru-posts-thumb .item .thumb {
    float: right;
    margin-right: 0;
    margin-left: 15px;
}
.blog-details-area .widget-area .widget_categories ul li {
    padding-left: 0;
    padding-right: 20px;
}
.blog-details-area .widget-area .widget_categories ul li::before {
    left: unset;
    right: 0;
}
.blog-details-area .widget-area .widget_categories ul li a span{
    float: left;
}
.blog-details-area .widget-area .widget_meta ul li {
    padding-left: 0;
    padding-right: 17px;
}
.blog-details-area .widget-area .widget_meta ul li::before {
    left: unset;
    right: 0;
}
.blog-details-area .widget-area .widget .widget-title::before{
    left: unset;
    right: 0;
}
.blog-details-area .blog-details-desc .article-content .entry-meta ul li {
    margin-right: 0;
    margin-left: 21px;
}
.blog-details-area .blog-details-desc .article-content .entry-meta ul li::before{
    right: unset;
    left: -15px;
}
.blog-details-area .blog-details-desc .article-content .entry-meta ul li::before {
    right: unset;
    left: -15px;
    top: 14px;
}
.blog-details-area blockquote::before {
    left: 0;
    right: 50px;
}
.blog-details-area blockquote::after{
    left: unset;
    right: 0;
}
.blog-details-area .blog-details-desc .article-footer .article-share .social{
    text-align: left;
}
.blog-details-area .comments-area .comments-title::before{
    left: unset;
    right: -25px;
}
.blog-details-area .comments-area .comment-body {
    padding-left: 0;
    padding-right: 65px;
}
.blog-details-area .comments-area .comment-author .avatar {
    right: -65px;
    left: unset;
}
.blog-details-area .post-navigation .navigation-links .nav-next {
    text-align: left;
}
.blog-details-area .comments-area .comment-respond .comment-reply-title::before {
    left: unset;
    right: -25px;
}
.main-contact-area .contact-form .default-btn{
    float: left;
}
.main-contact-area #msgSubmit{
    right: unset;
    left: 15px;
}
/* .second-facility-item::before {
    left: unset;
    right: 0;
} */
.doctors-sidebar .availability ul li span {
    float: left;
}
.page-title-area .page-title-content ul li::before {
    left: -7px;
    right: unset;
    -webkit-clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
    clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
}
.single-blog .blog-content ul li { 
	padding-right: 0 !important;
	padding-left: 0;
	margin-left: 10px;
	border: none;
}
.about-area.four .about-content.ml {
    margin-left: auto;
    margin-right: 30px;
}
.about-area-seven .about-content ul {
    margin-left: 0;
    margin-right: 30px;
}
.about-area-seven .about-content ul.ml-0 {
    margin-right: 0 !important;
}
.about-area-seven .about-content ul li i {
    right: 0;
    left: unset;
}
.about-area-seven .about-content ul li{
    padding-left: 0;
    padding-right: 30px;
}
.second-facility-area.eight .second-facility-item {
    text-align: left;
}
.single-widget .social-area ul li {
    margin-right: 0;
    margin-left: 8px;
}
.header-area .top-header-area .header-content-left li i {
    margin-right: 0;
    margin-left: 5px;
} 
.faq-accordion .accordion .accordion__button {
    text-align:left;
}
.accordion__button:before {
    margin-right: 0;
    margin-left: 10px;
} 
.loader {
    right: 0;
    left: 0;
    overflow: hidden;
    margin: -90px auto;
}
.page-title-area .page-title-content ul li {
    padding-left: 30px;
    padding-right: 0;
}
.page-title-area .page-title-content ul li::before {
    left: 10px;
}
.single-professionals .location span i {
    left: 3px;
}
.blog-details-area .blog-details-desc .article-content .entry-meta ul {
    padding: 0;
}
.blog-details-area .blog-details-desc .article-footer .article-share .social li {
    margin-left: 0;
    margin-right: 5px;
}
.user-area-all-style .contact-form-action form .form-condition .agree-label input[type=checkbox], .user-area-all-style .contact-form-action form .form-condition .agree-label input[type=radio] {
    left: auto;
    right: 0;
}
.user-area-all-style .contact-form-action form .form-condition .agree-label {
    padding-left: 0;
    padding-right: 20px;
}
.about-area .about-content.ml-auto {
    margin-left: 0;
    margin-right: auto;
}
.doctors-sidebar .availability h3 i {
    margin-right: 0;
    margin-left: 5px;
}
.blog-right-sidebar {
    padding-left: 0;
    padding-right: 15px;
}
.blog-left-sidebar {
    padding-left: 15px;
    padding-right: 0;
}
 
/** Responsive Area **/
@media only screen and (max-width: 767px) {
    .blog-right-sidebar {
        padding-left: 0;
        padding-right: 0;
    }
    .blog-left-sidebar {
        padding-left: 0;
        padding-right: 0;
    }
    .nav-area .navbar-area .main-nav nav .navbar-nav {
        padding-right: 0;
        padding-left: 15px;
    }
    .nav-area .navbar-area .main-nav nav .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
        right: 0;
        left: 0;
    }
    .navbar-nav {
        padding: 0;
    }
    .main-banner-area .banner-img-wrap .banner-shape {
        left: 0;
        right: 0;
    }
    .first-facility-item {
        padding-right: 0;
    }
    .main-banner-area .banner-text {
        margin-top: 0;
    }
    .about-area .about-content {
        margin-right: 0;
    }
    .default-btn.active {
        margin-right: 15px;
    }
    .single-prevention {
        padding-right: 0;
    }
    .main-contact-area .contact-form .default-btn {
        float: unset;
    }
    .ours-doctors-area .doctors-content {
        max-width: unset;
    }
    .first-facility-emergency .first-facility-item i {
       position: unset;
       margin-bottom: 20px;
    }
    .main-banner-six .shape-2 {
        display: none;
    }
    .main-banner-six .col-lg-6.pr-0 {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }
    .blog-details-area .comments-area .comment-body {
        padding-right: 0;
    }
    .blog-details-area .comments-area .comment-author .avatar {
        right: 0;
    }
    .about-area-seven .about-content ul {
        margin-right: 0;
    }
    .header-area .top-header-area .header-content-right {
        float: unset;
    }
    .ours-doctors-area .col-lg-6.pr-0 {
        margin-right: 0 !important;
    }
    .nav-area .others-option {
        right: auto;
        left: 60px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .offset-sm-3 {
        margin-right: 25%;
        margin-left: 0;
    }
    .default-btn.active {
        margin-right: 20px;
    }
    .main-contact-area .contact-form .contact-num {
        text-align: right;
    }
    .main-contact-area .contact-form .default-btn {
        float: left;
    }
    .about-area-seven .about-content ul {
        margin-right: 30px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .blog-right-sidebar {
        padding-left: 0;
        padding-right: 0;
    }
    .blog-left-sidebar {
        padding-left: 0;
        padding-right: 0;
    }
    .header-area .top-header-area .header-content-left li {
        padding-left: 6px;
    }
    .main-banner-area .banner-img-wrap .banner-shape {
        left: 0;
        right: 0;
    }
    .first-facility-item{
        padding-right: 0;
    }
    .main-banner-area .banner-text{
        margin-top: 0;
    }
    .about-area .about-content {
        margin-right: 0;
    }
    .ours-doctors-area .doctors-content {
        max-width: unset;
    }
    .ours-doctors-area.four .col-lg-6.pr-0 {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    .first-facility-emergency .first-facility-item {
        padding-right: 90px;
    }
    .main-banner-six .main-banner-content .content {
        max-width: unset;
    }
    .main-banner-six .shape-2{
        display: none;
    }
    .navbar-nav {
        padding: 0;
    }
    .single-prevention{
        padding-right: 0;
    }
}

@media only screen and (min-width : 992px) and (max-width : 1199px) {
    .blog-right-sidebar {
        padding-left: 0;
        padding-right: 0;
    }
    .blog-left-sidebar {
        padding-left: 0;
        padding-right: 0;
    }
    .main-banner-area-five .banner-text {
        max-width: 538px;
    }
    .main-banner-area-five .banner-text h1 {
        font-size: 58px;
    }
    .main-banner-six .shape-2 {
        display: none;
    }
    .main-banner-six .main-banner-content .content {
        max-width: 450px;
    }
    .first-facility-item {
        padding-right: 75px;
    }
    .about-area.two .about-img .shape-1 {
        right: -29px;
        top: -38px;
    }
    .about-area.two .about-img .shape-1 img {
        max-width: 515px;
    }
}

@media only screen and (max-width: 991px) {
    .mean-container a.meanmenu-reveal {
        left: 0 !important;
        right: auto !important;
        padding: 24px 0 0px 15px !important;
    }
	.mean-container a.meanmenu-reveal span {
		margin-top: -5px;
	}
    .mobile-nav .logo {
        right: 15px;
        left: unset;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        text-align: left;
        left: 0;
        right: auto;

    }
    .mean-container .mean-nav ul li a {
        text-align: right;
    }
    .mean-container .mean-nav ul li a {
        width: 93%;
    }
}

@media only screen and (min-width: 1700px) {
    .main-banner-area {
        height: 100vh;
    }
    .main-banner-area .banner-text {
        margin-top: -70px;
    }
    .main-banner-area .banner-img-wrap .banner-img {
        max-width: unset;
        top: -125px;
    }
    .main-banner-area .banner-img-wrap .banner-shape {
        max-width: unset;
        right: -155px;
    }
    .first-facility-area {
        bottom: 0;
    }
    .main-banner-area-two {
        height: 100vh;
    }
    .main-banner-area-two .banner-img-wrap .banner-img {
        top: -200px;
    }
    .main-banner-area-four {
        height: 100vh;
    }
    .main-banner-area-five .banner-img-wrap .banner-img {
        top: -100px;
    }
    .main-banner-six .shape {
        width: unset;
    }
    .main-banner-six .shape-2 {
        width: unset;
    }
    .hero-slider-area .slider-item {
        height: 100vh;
    }
    .emergency-area .shape {
        display: block;
        max-width: 240px;
        width: 100%;
    }
    .main-banner-area-five .banner-text {
        max-width: 690px;
    }
    .main-banner-area-four .banner-text {
        max-width: 790px !important;
    }
    .main-banner-area-five .banner-text {
        max-width: 795px !important;
    }
    .prevention-area .prevention-wrap {
        max-width: 965px !important;
    }
}

@media only screen and (min-width: 1400px) {
    .main-banner-area .banner-text {
        max-width: 630px;
    }
    .main-banner-area-two .banner-text {
        max-width: 635px;
    }
    .prevention-area .prevention-wrap {
        max-width: 900px;
        margin-left: auto;
    }
    .second-facility-area.three .container {
        max-width: 1290px;
        width: 100%;
        }
    .main-banner-area-four .banner-text {
        max-width: 765px;
    }
    .about-area.four .about-content {
        max-width: 635px;
    }
    .ours-doctors-area .doctors-content {
        max-width: 635px;
    }
    .main-banner-area-five .banner-text {
        max-width: 765px;
        width: 100%;
    }
    .emergency-content {
        max-width: 640px;
    }
    .main-banner-six .main-banner-content .content {
        max-width: 635px;
    }
    .second-facility-area.seven .container {
        max-width: 1295px;
        width: 100%;
    }
    .second-facility-area.eight .container {
        max-width: 1295px;
    }
    .first-facility-area.services-page-one {
        max-width: 1290px;
        width: 100%;
    }
}